# node mailer
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=465
NODEMAILER_USER=varni1505@gmail.com
NODEMAILER_PASS=zlziwywhumixniut
USER_MAILER=varni1505@gmail.com
USER_TO=varni1505@gmail.com

# mongodb uri 
MONGODB_URI=mongodb+srv://varni:Varni%401102@kisanhub.gbinuf2.mongodb.net/portfolio

# google analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=